
/* ids for body and google map*/
body, #map-canvas {
	height: 100%;
	margin: 0px;
	padding: 0px
 }

#map-canvas {
	height: 650px;
	position: absolute;
	width: 1356px;
 }

 /*search box for searching location*/
#search-box, #controls {
	position: relative;
	width: 430px;
 }

#search-box {
	border: 4px lightskyblue ridge;
	height: 30px;
	margin: 20px 80px;
	position: absolute;
	z-index: 1;
 }

/*Location Search Textbox*/
#auto-complete {
	height: 30px;
	left: 0px;
	position: absolute;
	top: 0px;
	width: 100%;
 }

/*Labels in Location table*/
.label {
	color: #303030;
	font-family: sans-serif;
	font-weight: bolder;
	text-align: left;
	width: 100px;
 }

/*Styling of Table*/
#location {
	background-color: #f0f0ff;
	border: 4px lightskyblue ridge;
	margin: 55px 80px;
	opacity: 0.9;
	padding-right: 11px;
	position: absolute;
	width: 438px;
	z-index: 9;
 }

/*Styling of td of table*/
td {
	font-size: 10pt;
	padding: 3px;
 }

/*class for textfields in table*/
.field {
	border-radius: 5px;
	border: 2px lightblue ridge;
	padding-left: 6px;
	width: 99%;
 }

 /*text field for details*/
.text-field {
    width: 200px;
}